
%h2
   Products

- for product in @products
   .product
   %h3
      = link_to h(product.name), product
      = number_to_currency(product.price)

   .actions
      = link_to "Add to Cart", line_items_path(:product_id => product), :method => :post


