= image_tag('logo.png')
.home{:class => (request.request_uri == root_path || (current_user && request.request_uri == polymorphic_path(current_user))) ? "current" : nil}
    = link_to "Homepage", root_path